* {
  font-family: Helvetica, sans-serif;
  color: #606060;
  box-sizing: border-box;
}

@media (max-width: 768px) {
  body {
    margin: 16px;
  }
}
@media (min-width: 768px) {
  body {
    margin: 50px;
  }
}

.general-text {
  font-weight: 300;
  font-size: 16px;
  margin-bottom: 28px;
  margin-top: 28px;
}

@media (min-width: 768px) {
  .container-box {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr auto;
    justify-items: stretch;
    width: 350px;
  }
}

.tabs {
  background: #e5e5e5;
  padding: 12px 12px;
  margin: 0;
  font-weight: 600;
  font-size: 12px;
  border: 1px solid white;
  text-align: center;
}
@media (min-width: 768px) {
  .tabs {
    grid-row: 1;
  }
}

.details {
  padding-top: 16px;
  padding-left: 12px;
  margin: 0;
  font-weight: 300;
  font-size: 16px;
  animation: 1.5s blendin;
}
@keyframes blendin {
  from {
    opacity: 0;
  }
  to {
    opacity: 100;
  }
}
@media (min-width: 768px) {
  .details {
    width: 350px;
    height: 100px;
    border: 1px solid #9e9e9e;
    border-top: 0;
    grid-row: 2;
    justify-self: left;
    grid-column: 1/4;
  }
}

.details-list {
  display: grid;
  grid-template-columns: 120px auto;
}
@media (min-width: 768px) {
  .details-list dd {
    margin-left: 0;
  }
}

@media (min-width: 768px) {
  .list-title {
    grid-column: 1;
  }
}
@media (max-width: 768px) {
  .list-title {
    margin-bottom: 16px;
  }
}

.active {
  background: #ece0fd;
  color: #7f33ee;
  border-bottom: 1px solid #7f33ee;
}

.hidden {
  display: none;
}

.input-section {
  margin-top: 30px;
  padding: 12px;
  border: 1px solid #9e9e9e;
  font-weight: 300;
  font-size: 14px;
}
@media (min-width: 768px) {
  .input-section {
    width: 350px;
  }
}

.input-field {
  width: 30px;
  height: 24px;
  padding: 4px;
  margin-right: 8px;
}

/*# sourceMappingURL=/styles.5c8f3eab.css.map */